<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <style>
    @media (max-width:767px) {
      #paren {
        background-image: url();
        background-repeat: no-repeat;
        position: relative;
        height: 400vh;
        width: calc(height*0.8);
        background-position: center;
        background-size: cover;
      }
    }

    @media (min-width:767px) {
      #paren {
        background-image: url();
        background-repeat: no-repeat;
        position: relative;
        height: 200vh;
        width: calc(height*0.5);
        background-position: center;
        background-size: cover;
      }
    }
  </style>
  <link rel="stylesheet" type="text/css" href="css/land_page.css" />
</head>

<body>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

  </head>

  <body>
    <div id="paren">

      <div id="parents">
        <div>
          <a href="/landing_page"> <img src="img/download-removebg-preview.png" class="logo2" style="z-index: 2; top: 10px;
            left: 10px; display: inline-block;
            height: 200px;   position: relative;z-index: 5;"></a>
        </div>


        <div class="hero_header" style="position: absolute; display: inline-block; height: 60px;">
          <nav>
            <img src="img/download.jpg" class="logo" style="z-index: 2; top: 60px;
            left: 20px;
            position: relative;height: 80px;">

            <div style="display: inline-block;">
              <ul>
                <li>
                  <a href="/about"> About</a>
                </li>
                <li> <a href="/login">Log In</a> </li>
                <li> <a href="/register">Register</a> </li>
                <li> </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <div class="contain px-4 pt-5 mb-5 text-center" style="text-align: center;">
        <div style="background-color: #292929;background-image: url('https://www.transparenttextures.com/patterns/gplay.png');" class=" w-50 p-5 m-auto">
          <h1 class="display-4 fw-bold text-body-emphasis"><span class="rounded-5 typed3" style="color:rgb(255, 255, 255);"></span>
          </h1>

        </div>

        <div class="container px-4 pt-5 my-5 text-center " style="  z-index: 4; position: relative;
              top: 0;">
          <div class="card" style="--clr:#009g88">
            <div class="imgbx " style="align-items: center;"><img src="img/IMG_20230716_122205.jpg"></div>
            <div class="content">
              <h3 style="color: rgb(106, 0, 255); margin-left: 40px; font-style: italic;">Akshat Shrinate</h3>
              <p><span style="color:rgb(132, 0, 255);">
                  Hello! I'm currently pursuing B.Tech and I'm passionate about full-stack development. I love creating
                  innovative solutions that make a positive impact.</span>
              </p>
            </div>
          </div>
          <div class="card" style="--clr:#009g88">
            <div class="imgbx " style="align-items: center;"><img src="img/vpic.jpg"></div>
            <div class="content">
              <h3 style="color: rgb(106, 0, 255); margin-left: 40px; font-style: italic;">Vivek
                Jaiswal</h3>
              <p><span style="color:rgb(132, 0, 255);">
                  Hello! I'm currently pursuing B.Tech and I'm passionate about full-stack development. I love creating
                  innovative solutions that make a positive impact.</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
      <script>
        var typed = new Typed('.typed3', {
          strings: ['Meet the Creators'],
          typeSpeed: 70,
          backSpeed: 10,
          loop: true
        });
      </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
      </script>
  </body>

  </html>
</body>

</html>

<!-- Hello! I'm currently pursuing B.Tech and I'm passionate about full-stack development. I love creating innovative solutions that make a positive impact. Let's connect and build something amazing together! -->