<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/land_page.css" /> 
<style>
    @media (max-width:767px){   #paren { 
            background-image:url( 1689433638267.jpg);
background-repeat: no-repeat;
position: relative;height: 400vh;
width:calc(height*0.8);
            background-position: center;
 background-size: cover;
      }}
      
      @media (min-width:767px){
        #paren {    background-image:url( 1689433638267.jpg);
background-repeat: no-repeat;
position: relative;height: 200vh;
width:calc(height*0.5);
            background-position: top;
 background-size: cover;
      }
         }
</style>
  </head>
<body>
  <div id="paren">  
<div id="parents">
    <div>        
      <a href="/landing_page"> <img src="img/download-removebg-preview.png" class="logo2" style="z-index: 2; top: 0;
        left: 0; display: inline-block;
        height: 200px;   position: relative;z-index: 5;"></a>  </div>


    <div  class="hero_header" style="position: absolute; display: inline-block; height: 60px;">
          <nav>
            <img src="img/download.jpg" class="logo" style="z-index: 2; top: 60px;
            left: 20px;
            position: relative;height: 80px;">

            <div style="display: inline-block;"><ul>
                <li>
            <a href="/about">    About</a>    
                </li>
           <li>    <a href="/">Log In</a>  </li>
             <li>   <a href="/register">Register</a>  </li>
          <li>

            </li> 
           </ul>
        </div>
        </nav></div> 
       </div>
    
    
          <div class="col-lg-6"  style="margin-left: 100px; margin-top: 50px;">
          
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3" ><span  style="color:rgb(255, 255, 60)">Welcome to PEC's </span><span style="color: rgb(200, 12, 12);"> Hostel Allocation System</span></h1>
         <p class="lead" style="color:#3b07d6; font-weight: 500;">Discover a seamless and efficient way to allocate hostel accommodations with our innovative system. Whether you're a student, a hostel administrator, or an institution, we've got you covered. Our state-of-the-art technology streamlines 
              the entire process, making it easy for you to find and allocate the perfect hostel room.</p>
          </div>           
          
          <div class="col-lg-6"  style="margin-left: 600px; margin-top: 50px;">
            <p class="lead" style="right: 20px; color:rgb(37, 210, 175); font-weight: 500;">
                By implementing our Hostel Allocation Management System, we are revolutionizing the way accommodations are assigned and managed. Our system eliminates the need for manual work and cumbersome paperwork, making the entire process easier, faster, and smoother. With automated room allocation algorithms and real-time availability updates,
                 administrators can allocate rooms with just a few clicks, saving valuable time and effort. 
              </p>          
          </div>

        </div>
  
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" 
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
       crossorigin="anonymous"></script>
    </body>
</html>