<%- include('partials/header') %>
<div class="mb-3 container-sm mt-3">
  <div class="row">
    <div class="col" >
      <h1 class="">Hostel Allocating System</h1>
    </div>
    <div class="col">
      <img class="w-50 float-end" src="img/Cover_PEC.png" alt="">
    </div>
  </div>
</div>
<div class="mb-3 container-sm w-50 mt-3">
  <!-- Makes POST request to /login route -->
  <form action="/login" method="POST">
    <h1>Log In</h1>
    <div <%= message %> class="alert alert-danger my-4" role="alert">
      Wrong Email or Password
    </div>
    <div class="">
      <label class="form-label" for="username">Email</label>
      <input id="username" type="email" class="form-control" name="username" required>
    </div>
    <div class="">
      <label class="form-label" for="password">Password</label>
      <input id="password" type="password" class="form-control" name="password" required>
     </div>
    <div class="row">
      <div class="col-auto my-2">
        <label class="col-form-label" for="cars">Signing Up as:</label>
      </div>
      <div class="col-auto my-2">
        <select class="form-select" name="Positions" id="cars">
        <option value="Student">Student</option>
        <option value="Warden">Warden</option>
        </select>
      </div>
      
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
</div>
</div>


<%- include('partials/footer') %>