  <%- include('partials/header') %>

  <div class="header">
    <div class="mb-3 container-sm mt-3" style=" color: rgb(255, 255, 255);">
      <div class="row">
        <div class="col">
          <h2 class="">Hostel Allocating System</h2>
        </div>
        <div class="col">
          <a href="/landing_page"><img class="float-end" src="img/download-removebg-preview.png"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="margin"></div>

  <div class="row container-sm w-50 m-auto bg-img p-0 rounded-5 mb-5">
    <div class="col text-white container p-0">
      <div class="mb-5 container-sm w-50 mt-5">
        <div class="container p-0">
          <form class="text-white container p-0" action="/register" method="POST">
            <div style="text-align: center;">
              <h1>Register</h1>
            </div>
            <div <%= message %> class="alert alert-warning my-4" role="alert">
              Password and confrim password should match.
            </div>
            <div <%= exist %> class="alert alert-warning my-4" role="alert">
              User already exist<br>
              <button class="btn btn-secondary student-header">Login here<a href="/login"></a></button>
            </div>
            <div class="">
              <label class="form-label" for="fname">Full name</label>
              <input id="fname" type="text" class="form-control" name="username" required>
            </div>
            <div class="">
              <label class="form-label" for="sid">SID</label>
              <input id="sid" type="number" class="form-control" name="sid" required>
            </div>
            <div>
              <label class="form-label" for="email">Email</label>
              <input class="form-control" type="email" id="email" name="email" required>
            </div>
            <div>
              <label class="form-label" for="password">Password</label>
              <input class="form-control" type="password" id="password" name="password" required>
            </div>
            <div>
              <label class="form-label" for="cpassword">Confrim Password</label>
              <input class="form-control" type="cpassword" id="cpassword" name="cpassword" required>
            </div>
            <div style="text-align: center;">
              <button type="submit" class="btn btn-primary mt-3">Register</button><br>
              <a class="p-3" style="color: white;" href="/">Login</a>
            </div>


          </form>

        </div>
      </div>

    </div>
    <span>*For students only.</span>
    <%- include('partials/footer') %>