<%- include('partials/header') %>

<div class="student-header">
  <div class="row">
    <div class="col">
      <h2>Room status</h2>
    </div>
    <div class="col">
      <button style="background-color: rgba(0, 0, 0, 0); color: white; border: none;" class="float-end"
        onClick="previous()" id="backward">Back</button>
    </div>
  </div>
</div>

<div class="margin"></div>

<div class="container-sm m-auto w-50">
  <form action="/room_status" method="post" >
    <div class="input-box"> <label for="Year"><h5>Finding which rooms are :</h5></label>

      <select class="form-select" name="room_status" id="Year" required>
        <option value="available">available</option>
        <option value="unavailable">unavailable</option>
        

      </select></div>

    <div class="d-grid mt-3">
      <input type="submit" class="btn btn-dark" value="Store Select" />
    </div>
  </form>
</div>

</div>

<%- include('partials/footer') %>
