<%- include('partials/header') %>

<div class="container-sm">
  <form action="/import-csv" method="post" enctype="multipart/form-data">
    <div class="row">
      <div class="col">
        <input type="file" class="form-control" name="import-csv" accept=".csv" />
      </div>
      <div class="col">
        <div class="input-box">
          <div class="row">
            <div class="col">
<label class="form-label" for="cars1">Allocating for the Class of :</label>
            </div>
            <div class="col">
<select class="form-select" name="Positions" id="cars1" required>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
          </select></div>
            </div>
          </div>
          

          
      </div>
    </div>



    <div class="d-grid">
      <input type="submit" class="btn btn-dark" value="Store File" />
    </div>
  </form>
</div>

</div>

<%- include('partials/footer') %>