<%- include('partials/header') %>

<div class="student-header">
    <div class="row">
        <div class="col-6">
            <h2>Warden server</h2>
        </div>
        <div class="col">
            <form action="/upload" method="post" id="AllocationSetUp">
                <a href="" onclick="btnToLink2(event)">Alloc Set-up</a>
            </form>
        </div>
        <div class="col">
            <form id="comp" action="/complaint-x" method="post">
                <a href="" onclick="btnToLink4(event)">Complaints</a>
            </form>
        </div>
        <div class="col">
            <form action="/status" method="post" id="roomstatus">
                <a href="" onclick="btnToLink3(event)">Room-Status</a>
            </form>
        </div>
        <div class="col">
            <a href="/login">Logout</a>
        </div>
        
    </div>
</div>
<div class="margin"></div>


<%- include('partials/footer') %>