body {
    /* background-color: #ebe6db;
    /* #cfbcab */
    /* #b481ff */

/* background-image: url("https://www.transparenttextures.com/patterns/black-felt.png"); */ 
background-color: #292929;
background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}

.student-header {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.511);
    width: 100%;
    color: white;
    padding: 20px 10vw 0 10vw;
}

.student-header a {
    color: white;
    text-decoration: none;
}

.student-header a:hover {
    color: #ea1538;
    transition: .3s;
}

.complaint-box {
    max-height: 50vh;
    overflow: auto;
}


.notification {
    position: absolute;
    bottom: 4px;
    right: 4px;
    width: max-content;
    border-radius: 6px;
    background-color: #0099ff;
    color: #ffffff;
    box-shadow: 1px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade-in 3s linear;
}

.notification_icon {
    height: 26px;
    width: 26px;
    margin-right: 4px;
}

.notification_body {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 8px;
}

.notification_progress {
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: calc(100% - 8px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background: linear-gradient(to right, #5a4e13, #f6ff00);
    border-radius: inherit;
    animation: progress 2.5s 0.3s linear;
}

@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    95% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes progress {
    to {
        transform: scaleX(1);
    }
}

.bg-img {
    /* background: rgb(194,13,221);
    background: linear-gradient(306deg, rgba(194,13,221,1) 35%, rgba(194,13,221,1) 58%, rgba(192,0,255,1) 71%, rgba(192,0,255,1) 87%); */
    /* background-color: #bb9359; */
    /* background-color: #9f8e77; */
    background: rgb(0, 0, 0);
} 

.header {
    background-color: rgba(0, 0, 0, 0.511);
    position: fixed;
    top: 0;
    width: 100%;
}

.header img {
    width: 80px;
    position: absolute;
    top: 15px;
    right: 20px;
}
.margin {
    width: 100%;
    margin-bottom: 120px;
}